<h1>Listing alphas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alphas.each do |alpha| %>
      <tr>
        <td><%= link_to 'Show', alpha %></td>
        <td><%= link_to 'Edit', edit_alpha_path(alpha) %></td>
        <td><%= link_to 'Destroy', alpha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alpha', new_alpha_path %>
